
.carousel {
    margin-bottom: 4rem;
}
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}
.carousel-item {
    background-color: #000000;
    height: 32rem;
}
.carousel-item > img {
    /*height: 32rem;
    left: 0;
    min-width: 100%;
    position: absolute;
    top: 0;*/

    left: -9999px;  /*important */
    right: -9999px;  /*important */
    margin: 0 auto;  /*important */
    max-width: none;  /*important */
    min-width: 100%;
    position: absolute;
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}
.featurette-divider {
    margin: 5rem 0;
}
.featurette-heading {
    font-weight: 300;
    letter-spacing: -0.05rem;
    line-height: 1;
    margin-top: 1rem
}

.Header-text{
    color: #868e96!important;
    text-align: center;
    font-size: 20px;    
}


.logHeader{
    color: black;
    font-size: 20px;
    margin-bottom: 1em;
}

.logContainer{
    margin: 2rem;
    background-color: white;
    opacity: 0.75;
    border-radius: 15px;
    text-align:center;
    padding:1em;
}

.logText{
    color: #868e96!important;    
}

@media (min-width: 20em) {
    .featurette-heading {
        margin-top: 2rem;
    }

    .Header-text{
        margin-top: 3rem;
        font-size: 30px;
        margin-bottom: 1rem;
    }

}
@media (min-width: 40em) {
    .carousel-caption p {
        font-size: 1.25rem;
        line-height: 1.4;
        margin-bottom: 1.25rem;
    }
    .featurette-heading {
        font-size: 50px;
    }

    .Header-text{
        margin-top: 4rem;
        font-size: 50px;
        margin-bottom: 2rem;
    }
    
    .logHeader{
        font-size: 30px;
        margin-bottom: 1.5em;
    }

    .logContainer{
        margin: 2rem;
        padding:4em;
        padding-top: 2em;
    }
}
@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 5rem;
    }

    .Header-text{
        margin-top: 5rem;
        font-size: 60px;
        margin-bottom: 3rem;
    }

    .logHeader{
        font-size: 40px;
        margin-bottom: 1.5em;
    }
}


.footer {
    background-color: black;
    color: white;
    bottom: 0;
    height: 60px;
    line-height: 60px;
    width: 100%;
    position: relative;
    margin-bottom: 0 !important;
}


.activeNavItem{
    font-size: 110%;
    color: lightsalmon !important;
}