main{
    margin-top: 6rem;
}
.white{
    color:white;
}

.navbar{
    background-color: black !important;
}

body{
    background-color: black;
}
.carousel {
    margin-bottom: 4rem;
}
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}
.carousel-item {
    background-color: #000000;
    height: 32rem;
}
.carousel-item > img {
    /*height: 32rem;
    left: 0;
    min-width: 100%;
    position: absolute;
    top: 0;*/

    left: -9999px;  /*important */
    right: -9999px;  /*important */
    margin: 0 auto;  /*important */
    max-width: none;  /*important */
    min-width: 100%;
    position: absolute;
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}
.featurette-divider {
    margin: 5rem 0;
}

.featurette-image{
    border-radius: 50%;
}

.featurette-heading {
    font-weight: 300;
    letter-spacing: -0.05rem;
    line-height: 1;
    margin-top: 1rem
}

.Header-text{
    color: #868e96!important;
    text-align: center;
    font-size: 45px;
}


.logHeader{
    color: black;
    font-size: 20px;
    margin-bottom: 1em;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.logContainer{
    margin: 2rem;
    background-color: white;
    opacity: 0.75;
    border-radius: 15px;
    text-align:center;
    padding:1em;
    position:relative;
}

.logContainerCollapsed{
    margin: 1rem;
    background-color: white;
    opacity: 0.75;
    border-radius: 15px;
    text-align:center;
    padding:0.5em;
    position:relative;
}

.logText{
    color: #868e96!important;    
}


.logHeaerCollapsed{
    color: black;
    font-size: 16px;
    margin-bottom: 0em;
}



@media (min-width: 20em) {
    .featurette-heading {
        margin-top: 2rem;
    }

    .Header-text{
        margin-top: 3rem;
        margin-bottom: 1rem;
    }

}
@media (min-width: 40em) {
    .carousel-caption p {
        font-size: 1.25rem;
        line-height: 1.4;
        margin-bottom: 1.25rem;
    }
    .featurette-heading {
        font-size: 50px;
    }

    .Header-text{
        margin-top: 4rem;
        font-size: 50px;
        margin-bottom: 2rem;
    }
    
    .logHeader{
        font-size: 30px;
        margin-bottom: 1.5em;
    }

    .logHeaderCollapsed{
        font-size: 24px;
        margin-bottom: 0em;
    }

    .logContainer{
        margin: 2rem;
        padding:4em;
        padding-top: 2em;
    }

    .logContainerCollapsed{
        margin: 1.2rem;
        padding:0.6em;
    }
}
@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 5rem;
    }

    .Header-text{
        margin-top: 5rem;
        font-size: 60px;
        margin-bottom: 3rem;
    }

    .logHeader{
        font-size: 40px;
        margin-bottom: 1.5em;
    }

    .logHeaderCollapsed{
        font-size: 32px;
        margin-bottom: 0em;
    }

    .logContainerCollapsed{
        margin: 1.4rem;
        padding:0.6em;
    }
}


.footer {
    background-color: black;
    color: white;
    bottom: 0;
    height: 60px;
    line-height: 60px;
    width: 100%;
    position: relative;
    margin-bottom: 0 !important;
}


.activeNavItem{
    font-size: 110%;
    color: lightsalmon !important;
}


.bd-clipboard {
  position: relative;
  display: none;
  float: right;
}

.highlight {
    margin-top: 0;
}

@media (min-width: 768px) {
  .bd-clipboard {
    display: block;
  }
}


.hll { background-color: #ffc; }
.c { color: #999; }
.k { color: #069; }
.o { color: #555; }
.cm { color: #999; }
.cp { color: #099; }
.c1 { color: #999; }
.cs { color: #999; }
.gd { background-color: #fcc; border: 1px solid #c00; }
.ge { font-style: italic; }
.gr { color: #f00; }
.gh { color: #030; }
.gi { background-color: #cfc; border: 1px solid #0c0; }
.go { color: #aaa; }
.gp { color: #009; }
.gu { color: #030; }
.gt { color: #9c6; }
.kc { color: #069; }
.kd { color: #069; }
.kn { color: #069; }
.kp { color: #069; }
.kr { color: #069; }
.kt { color: #078; }
.m { color: #f60; }
.s { color: #d44950; }
.na { color: #4f9fcf; }
.nb { color: #366; }
.nc { color: #0a8; }
.no { color: #360; }
.nd { color: #99f; }
.ni { color: #999; }
.ne { color: #c00; }
.nf { color: #c0f; }
.nl { color: #99f; }
.nn { color: #0cf; }
.nt { color: #2f6f9f; }
.nv { color: #033; }
.ow { color: #000; }
.w { color: #bbb; }
.mf { color: #f60; }
.mh { color: #f60; }
.mi { color: #f60; }
.mo { color: #f60; }
.sb { color: #c30; }
.sc { color: #c30; }
.sd { font-style: italic; color: #c30; }
.s2 { color: #c30; }
.se { color: #c30; }
.sh { color: #c30; }
.si { color: #a00; }
.sx { color: #c30; }
.sr { color: #3aa; }
.s1 { color: #c30; }
.ss { color: #fc3; }
.bp { color: #366; }
.vc { color: #033; }
.vg { color: #033; }
.vi { color: #033; }
.il { color: #f60; }

h3{
    color:#999;
}

p{
    color: #999;
}

li{
    color: #999;
}